/* this file should only contain styles that will definitely be used on every page. */

html {
    font-size:   18px;
    box-sizing:  border-box;
    line-height: 1.5;
    font-family: "Droid Sans", "Helvetica Neue", "Calibri", sans-serif;
}

* {
    box-sizing: inherit;
}

p {
    max-width: 40em; /* for readability */
}

input,
textarea {
    font:  inherit;
    width: 100%;
}

a[target="_blank"]:after {
    content:        '\2750';
    vertical-align: super;
    font-size:      0.83em;
}

.hidden {
    display: none;
}

.button-as-link {
    background-color: transparent;
    text-decoration:  underline;
    border:           none;
    color:            blue;
    cursor:           pointer;
    padding:          0;
    font-family:      inherit;
    font-size:        inherit;
}

.constrained-width-content {
    max-width: 50em;
}

.block-centered {
    margin: 0 auto;
}

.loading-spinner {
    text-align: center;
    padding:    1em;
}

.pagetop-nav {
    display:     flex;
    flex-wrap:   wrap;
    align-items: stretch;
    text-align:  center;
}

.pagetop-nav__item {
    flex:             1 0 auto;
    display:          flex;
    align-items:      center;
    justify-content:  center;
    background-color: #eeeeee;
    padding:          0.5em;
    margin:           0.5em;
}

.layout-α__container {
    display:   flex;
    flex-wrap: wrap;
    flex:      1 0 auto;
}

.layout-α__top-nav {
    flex-basis: 100%;
    flex-grow:  1;
}

.layout-α__main-content {
    flex-grow: 3;
}

@media (min-width: 1100px) {
    .layout-α__top-nav {
        flex-basis:     10em;
        flex-direction: column;
        order:          1;
    }

    .pagetop-nav__item {
        flex-grow: 0;
    }
}
